* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fffcf2;
  color: #353535;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments {
  width: 500px;
  height: 100%;
  margin-top: 20px;
  background-color: #edede9;
  padding: 2rem;
  border-radius: 5px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 5px;
  padding: 1.5rem;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-list {
  width: 100%;
}

.comment-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 14px;
  color: #676767;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
  gap: 5px;
}

.comment-action {
  margin-right: 8px;
}

.favorite-action {
  display: flex;
  align-items: center;
  gap: 2px;
}

.favoriteBtn {
  color: #bf0603;
}
.favoriteNum {
  font-size: 14px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}
